.container {
  display: flex;
  width: 88%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.data-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 50px;
  overflow: hidden;
  max-height: 80%;
}

.data-title{
  color: #333;
  font-size: x-large;
  text-align: center;
}

.resolutions {
  display: block;
  top: 10%;
  left: 10%;
  right: 10%;
  white-space: nowrap;
}

.resolution {
  font-size: x-large;
  margin-right: 30px;
}

.back-button {
  align-self: flex-start;
  justify-content: flex-start;

  background-color: #e84b7f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;

  &:hover {
    background-color: #d81b60;
  }
}

.one {
  animation: moveLeft 27s linear infinite;
}

.two {
  animation: moveRight 20s linear infinite;
}

.three {
  animation: moveLeft 35s linear infinite;
}

.four {
  animation: moveRight 25s linear infinite;
}

.five {
  animation: moveLeft 30s linear infinite;
}

.six {
  animation: moveRight 23s linear infinite;
}

.seven {
  animation: moveLeft 33s linear infinite;
}

.eight {
  animation: moveRight 29s linear infinite;
}
.nine {
  animation: moveLeft 21s linear infinite;
}

.ten {
  animation: moveRight 34s linear infinite;
}

@keyframes moveLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-250%);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-210%);
  }
  100% {
    transform: translateX(100%);
  }
}
